nav{
 display: flex;
 align-items: center;
 background-color: #ffffff;
}
.logo{
    text-decoration: none;
    font-size: 26px;
    color:rgba(0,0,0, 0.9);
    margin-right: 16px;
}
 button{
     border: solid 1px grey;
     text-decoration: none;
     background-color: transparent;
     border-color: rgba(0,0,0, 0.1);
     color:rgba(0,0,0, 0.5);
     padding: 5px 12px;
 }
 .link{
    margin: 10px;
    color:rgba(0,0,0, 0.5);
    text-decoration: none;
    font-size: 18px;
 }
 .hamburger-toggle{
     display: none;
 }

 @media(max-width:700px){
     nav{
         display: block;
     }
     .hamburger-toggle{
         display: inline-block;
         float: right;
     }
     .nav-link{
         display: flex;
         flex-direction: column;
     }
     .hide{
         display: none;
     }
 }
